#include "resource.h"


IDI_ICON_LARGE ICON DISCARDABLE "res/tabber_large.ico"
IDI_ICON_SMALL ICON DISCARDABLE "res/tabber_small.ico"


IDR_MAIN_MENU MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New\tCtrl+N",        ID_FILE_NEW
		MENUITEM "&Open...\tCtrl+O",    ID_FILE_OPEN
		MENUITEM "&Save\tCtrl+S",       ID_FILE_SAVE
		MENUITEM "Save &As...\tCtrl+Alt+S", ID_FILE_SAVEAS
		MENUITEM SEPARATOR
		MENUITEM "&Quit\tAlt+F4",       ID_APP_EXIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo\tCtrl+Z",       ID_EDIT_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t\tCtrl+X",        ID_EDIT_CUT
		MENUITEM "&Copy\tCtrl+C",       ID_EDIT_COPY
		MENUITEM "&Paste\tCtrl+V",      ID_EDIT_PASTE
		MENUITEM "&Delete\tDel",        ID_EDIT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Select All\tCtrl+A", ID_EDIT_SELECT_ALL
	END
	POPUP "&Insert"
	BEGIN
		MENUITEM "&Staff\tCtrl+Shift+S",         ID_INSERT_STAFF
		MENUITEM "Vertical &bar\tCtrl+Shift+B",  ID_INSERT_BAR
		MENUITEM "&Tuning\tCtrl+Shift+T",        ID_INSERT_TUNING
	END
	POPUP "&Settings"
	BEGIN
		POPUP "&Staff"
		BEGIN
			MENUITEM "&Width...", ID_OPTIONS_STAFF_WIDTH //requires contextual help ?
			MENUITEM "&Height...", ID_OPTIONS_STAFF_HEIGHT
		END
		POPUP "&Typing mode\tIns"
		BEGIN
			MENUITEM "&Insert",      ID_OPTIONS_TYPING_INSERT
			MENUITEM "&Overwrite",   ID_OPTIONS_TYPING_OVERWRITE
			MENUITEM "&Special",     ID_OPTIONS_TYPING_SPECIAL
		END
		POPUP "Guitar t&uning"
		BEGIN
			MENUITEM "&None",        ID_OPTIONS_TUNINGS_NONE
		END
		POPUP "Chord &insertion options"
		BEGIN
			MENUITEM "Add e&xtra space",    ID_OPTIONS_CHORD_EXTRA_SPACE
			MENUITEM "Add chord &name",     ID_OPTIONS_CHORD_NAME
			MENUITEM "Arpe&ggio mode\tCtrl+G", ID_OPTIONS_CHORD_ARPEGGIO
		END
		MENUITEM SEPARATOR
		MENUITEM "&Font...",         ID_OPTIONS_FONT
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About...",   ID_HELP_ABOUT
	END  
END


IDR_ACCELERATORS ACCELERATORS
BEGIN
    "N",         ID_FILE_NEW,      VIRTKEY, CONTROL
    "O",         ID_FILE_OPEN,     VIRTKEY, CONTROL
    "S",         ID_FILE_SAVE,     VIRTKEY, CONTROL
    "S",         ID_FILE_SAVEAS,   VIRTKEY, CONTROL, ALT
    
    "Z",         ID_EDIT_UNDO,     VIRTKEY, CONTROL
    "X",         ID_EDIT_CUT,      VIRTKEY, CONTROL
    "C",         ID_EDIT_COPY,     VIRTKEY, CONTROL
    "V",         ID_EDIT_PASTE,    VIRTKEY, CONTROL
    "A",         ID_EDIT_SELECT_ALL, VIRTKEY, CONTROL
    VK_BACK,     ID_EDIT_UNDO,     VIRTKEY, ALT
    VK_DELETE,   ID_EDIT_CUT,      VIRTKEY, SHIFT
	VK_INSERT,   ID_EDIT_COPY,     VIRTKEY, CONTROL
	VK_INSERT,   ID_EDIT_PASTE,    VIRTKEY, SHIFT
	VK_INSERT,   ID_OPTIONS_TYPING_TOGGLE, VIRTKEY
	
	"G",         ID_OPTIONS_CHORD_ARPEGGIO, VIRTKEY, CONTROL

	"S",         ID_INSERT_STAFF,  VIRTKEY, CONTROL, SHIFT
	"B",         ID_INSERT_BAR,    VIRTKEY, CONTROL, SHIFT
	"T",         ID_INSERT_TUNING, VIRTKEY, CONTROL, SHIFT
END


IDD_ABOUT_DIALOG DIALOG DISCARDABLE  25, 25, 251, 65
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About..."
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 194, 7, 50, 14
    ICON            IDI_ICON_LARGE, IDC_STATIC, 7, 7, 21, 20
    LTEXT           "Tabber V2", IDC_STATIC, 34, 7, 153, 10
    LTEXT           "A tablature editor,  in text mode", IDC_STATIC, 34, 21, 153, 10
    LTEXT           "Preview version provided ""As is""", IDC_STATIC, 34, 35, 153, 10
    LTEXT           "Compiled on:", IDC_STATIC, 34, 48, 43, 10
    LTEXT           "NULL", IDC_VERSION_NUMBER, 80, 48, 109, 10
END


IDD_PROMPT_DIALOG DIALOG DISCARDABLE  0, 0, 186, 46
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 129, 7, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 129, 24, 50, 14
    LTEXT           "New value :", IDC_PROMPT_STRING, 7, 7, 119, 14, SS_CENTERIMAGE
    EDITTEXT        IDC_PROMPT_VALUE, 7, 24, 119, 14, ES_AUTOHSCROLL | ES_NUMBER
END


