#include "resource.h"

IDI_ICON_LARGE ICON "res/tabber_large.ico"
IDI_ICON_SMALL ICON "res/tabber_small.ico"

IDR_MAIN_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New",        ID_FILE_NEW
		MENUITEM "&Open...",    ID_FILE_OPEN
		MENUITEM "&Save",       ID_FILE_SAVE
		MENUITEM "Save &As...", ID_FILE_SAVEAS
		MENUITEM SEPARATOR
		MENUITEM "&Quit\tAlt+F4",       ID_APP_EXIT		
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo\tCtrl+Z",       ID_EDIT_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t\tCtrl+X",        ID_EDIT_CUT
		MENUITEM "&Copy\tCtrl+C",       ID_EDIT_COPY
		MENUITEM "&Paste\tCtrl+V",      ID_EDIT_PASTE
	END
END

