/* header ---------------------------------------------------------------*/
#header
{
	padding: 0; margin: 0;
	background-color: #fbfefb;
	color: #0a100d;
}

#header h1
{
	padding: 5px 0 5px 10px; margin: 0;
	font-weight: normal;
}

#header h1:before
{
	content: url('icon.jpg');
	vertical-align: middle;
	margin-right: 10px;
}

#header a { color: inherit; border:none; }

/* skip to content ------------------------------------------------------*/

.skip-to-content
{
	padding: 1rem; margin: .25rem;
	position: absolute;
	background-color: #0a100d;
	color: #fbfefb;
	text-decoration: underline;
	border: solid 2px #fbfefb;
}

.skip-to-content:hover { color: inherit; }

.skip-to-content:not(:focus) {
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
}

/* navigation -----------------------------------------------------------*/

#navigation
{
	padding: 0 1rem; margin: 0;
	background-color: #fbfefb;
	color: #0a100d;
}

@media screen and (min-width: 768px)
{
	#navigation
	{
		padding: 0 3rem;
	}
}

#navigation li
{
	display: inline-block;
	padding: 0 10px 0 10px; margin: 0;
	color: #0a100d;
	letter-spacing: 0.1em; line-height: 2rem;
}

#navigation li:hover { background-color: #0a100d; color: #fbfefb; }

#navigation li#current { font-weight: bolder; }

#navigation a { color: inherit; text-decoration: underline double; border: none; }

#navigation u { color: #800000; text-decoration-color: #0a100d; }
#navigation li:hover u { color: #F3B61F; text-decoration-color: #fbfefb; }

#navigation li ul
{
	display: none;
	position: absolute;
	padding: 0 0 0 20px; margin: 0;
}

@media screen and (min-width: 992px)
{
	#navigation
	{
		padding: 0;
		display: block;
	}

	#navigation li
	{
		display: inline;
		border-right: solid 2px #0a100d;
		line-height: normal;
	}

	#navigation li:first-child { margin-left: 20px; border-left: solid 2px #0a100d; }

	#navigation a { text-decoration: none; }

	#navigation u { text-decoration: none; }

	#navigation li:hover ul, #navigation li:focus-within ul { display: block; }
	#navigation li:hover li { background-color: transparent; color: #0a100d; }

	#navigation li li
	{
		display: inline;
		border-bottom: solid 2px #0a100d;
	}

	#navigation li li:hover { background-color: #0a100d; color: #fbfefb; }

	#navigation li:hover li u { color: #800000; }
	#navigation li li:hover u { color: #F3B61F; }
}

/* content --------------------------------------------------------------*/
#content
{
	min-height: 940px;
	padding: 1rem;
	background-color: #fbfefb; /* background-image: url('content.jpg'); background-repeat: no-repeat; background-position: top left; */
	color: #0a100d;
}

@media screen and (min-width: 768px)
{
	#content
	{
		padding: 3rem;
	}
}

#content h2
{
	padding: 0em 1em; margin: 1em -1em;
	border-bottom: solid 1px #0a100d;
	letter-spacing: 0.2em;
}

#content h2:first-letter { font-size: larger; }

#content div { padding: 0em 1em; }
#content p { line-height: 150%; text-indent: 1em; }

#content ol:before { content: count(question); counter-increment: section; }
#content ol li { list-style-type: upper-roman; }
#content ol ul, #content ul ul { padding-bottom: 1em; }
#content ol ul li, #content ul ul li { list-style-type: circle; padding-bottom: 0.5em; }

#content dt:before { content: count(question); counter-increment: chapter; counter-reset: section; }
#content dd { border-bottom: solid 1px #0a100d; margin-right: 2em; margin-bottom: 3em; }

#content li a:visited { color: #800000; }
#content li dd a:visited { color: #525252; }
#content li dd a:hover{ color: #800000; }

#content dd { background-color:#ebebeb; padding: 0.5em; }

/* globals --------------------------------------------------------------*/
#page
{
	max-width: 60rem; margin: auto;
	display: grid; grid-template-columns: 1fr; grid-template-rows: auto auto auto;
	gap: 2px; 
	border: solid 2px #0a100d;
}

@media screen and (min-width: 992px)
{
	#page
	{
		grid-template-columns: auto 1fr;
		border-style: solid none;
	}

	#page:before
	{
		content: url('left.jpg');
		width: 100px; height: 940px;
		grid-row: 1/4;
	}
}

#footer { visibility: hidden; }

a:visited { color: #525252; }
a:hover { color: #800000; border-bottom-color: #800000; }
a
{
	color: #800000;
	text-decoration: none;
	border-bottom: solid 1px #525252;
}

body
{
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	background-color: #0a100d;
	color: #fbfefb;
	margin: 0;
}

[lang|="en"]
{
	quotes: "“" "”" "‘" "’";
}

[lang|="fr"]
{
	quotes: "« " " »" "“ " " ”";
}