/*
 * Tabber - Guitar Tablature Editor, freeware and open-source
 * Copyright (C) 2004  Yvan Razafindramanana
 *
 * Additionnal Contributors:
 * <place your name here :)>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

#include "resource.h"


// icons //////////////////////////////////////////////////////////////////

//use the following in Dev-C++
IDI_ICON_LARGE ICON DISCARDABLE "res/tabber_large.ico"
IDI_ICON_SMALL ICON DISCARDABLE "res/tabber_small.ico"

//use the following in Visual-C++
//IDI_ICON_LARGE ICON DISCARDABLE "../res/tabber_large.ico"
//IDI_ICON_SMALL ICON DISCARDABLE "../res/tabber_small.ico"


// menus //////////////////////////////////////////////////////////////////
IDR_MAIN_MENU MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New\tCtrl+N",        ID_FILE_NEW
		MENUITEM "&Open...\tCtrl+O",    ID_FILE_OPEN
		MENUITEM "&Save\tCtrl+S",       ID_FILE_SAVE
		MENUITEM "Save &As...\tCtrl+Alt+S", ID_FILE_SAVEAS
		MENUITEM SEPARATOR
		MENUITEM "Page set&up...",      ID_FILE_PAGESETUP
		MENUITEM "&Print...\tCtrl+P",   ID_FILE_PRINT
		MENUITEM SEPARATOR
		MENUITEM "&Quit\tAlt+F4",       ID_APP_EXIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo\tCtrl+Z",       ID_EDIT_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t\tCtrl+X",        ID_EDIT_CUT
		MENUITEM "&Copy\tCtrl+C",       ID_EDIT_COPY
		MENUITEM "&Paste\tCtrl+V",      ID_EDIT_PASTE
		MENUITEM "&Delete\tDel",        ID_EDIT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Find...\tCtrl+F",    ID_EDIT_FIND
		MENUITEM "Find &next\tF3",      ID_EDIT_FINDNEXT
		MENUITEM "&Replace...\tCtrl+R", ID_EDIT_REPLACE
		MENUITEM SEPARATOR
		MENUITEM "&Select All\tCtrl+A", ID_EDIT_SELECTALL
	END
	POPUP "&Insert"
	BEGIN
		MENUITEM "&Staff\tCtrl+Shift+S",         ID_INSERT_STAFF
		MENUITEM "Vertical &bar\tCtrl+Shift+B",  ID_INSERT_BAR
		MENUITEM "&Tuning\tCtrl+Shift+T",        ID_INSERT_TUNING
	END
	POPUP "&Settings"
	BEGIN
		MENUITEM "Type &insert\tIns",      ID_OPTIONS_TYPING_INSERT
		MENUITEM "Type &overwrite\tIns",   ID_OPTIONS_TYPING_OVERWRITE
		MENUITEM "Type &special\tIns",     ID_OPTIONS_TYPING_SPECIAL
		MENUITEM SEPARATOR
		MENUITEM "Staff &width...",      ID_OPTIONS_STAFF_WIDTH
		MENUITEM "Staff &height...",     ID_OPTIONS_STAFF_HEIGHT
		MENUITEM SEPARATOR
		POPUP "Guitar t&uning"
		BEGIN
			MENUITEM "&None",        ID_OPTIONS_TUNINGS_NONE
		END
		MENUITEM SEPARATOR
		MENUITEM "Add e&xtra spaces",    ID_OPTIONS_CHORD_EXTRA_SPACE
		MENUITEM "Add chord &names",     ID_OPTIONS_CHORD_NAME
		MENUITEM SEPARATOR
		MENUITEM "&Font...",         ID_OPTIONS_FONT
		MENUITEM SEPARATOR
		POPUP "&Advanced"
		BEGIN
			MENUITEM "Edit &chords",   ID_OPTIONS_EDIT_CHORDS
			MENUITEM "Edit tu&nings",  ID_OPTIONS_EDIT_TUNINGS
		END
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About...",   ID_HELP_ABOUT
	END  
END


// dialogs ////////////////////////////////////////////////////////////////
IDD_ABOUT_DIALOG DIALOG DISCARDABLE  40, 40, 251, 193
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 194, 7, 50, 14
    ICON            IDI_ICON_LARGE, IDC_STATIC, 7, 7, 21, 20
    LTEXT           "Tabber", IDC_STATIC, 34, 7, 43, 10
    LTEXT           "2.0", IDC_VERSION_NUMBER, 80, 7, 109, 10
    LTEXT           "A guitar tablature editor,  in text mode", IDC_STATIC, 34, 19, 153, 10
    LTEXT           "Copyright (C) 2004",IDC_STATIC, 34, 31, 153, 10
    EDITTEXT        IDC_WEBSITE, 34, 43, 153, 11, ES_READONLY | NOT WS_BORDER

    LTEXT           "GNU Public Licence:",IDC_STATIC,34, 67, 153, 10
    EDITTEXT        IDC_LICENCE, 34, 79, 210, 107,
                    ES_MULTILINE | ES_READONLY | WS_VSCROLL
END


IDD_PROMPT_DIALOG DIALOG DISCARDABLE  40, 40, 191, 46
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Prompt..."
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 134, 7, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 134, 24, 50, 14
    LTEXT           "New value :", IDC_PROMPT_STRING, 7, 7, 119, 14, SS_CENTERIMAGE
    EDITTEXT        IDC_PROMPT_VALUE, 7, 24, 119, 14, ES_AUTOHSCROLL | ES_NUMBER
END


IDD_PRINT_DIALOG DIALOG DISCARDABLE  40, 40, 186, 57
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Printing..."
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Cancel", IDCANCEL, 67, 36, 50, 14
    CTEXT           "NULL", IDC_PRINT_DOCUMENT, 7, 7, 172, 10
    CTEXT           "NULL", IDC_PRINT_STATUS, 7, 21, 172, 10
END


// user interface strings  ///////////////////////////////////////////////
STRINGTABLE DISCARDABLE
BEGIN
	//localised strings must not exceed 256 characters
	IDS_UNTITLED, "Untitled"
	IDS_SAVE_CHANGES, "Save changes to '%s' ?"
	IDS_CONFIRMATION, "Confirmation"
	IDS_STAFF_WIDTH_PROMPT, "Staff width (number of notes per line):"
	IDS_STAFF_HEIGHT_PROMPT, "Staff height (number of notes per line):"
	IDS_STAFF_TOOLBAR_CAPTION, "Staff"
	IDS_NO_MORE_OCCURENCES, "No more occurences found"
	IDS_X_OCCURENCES_REPLACED, "%d occurences replaced"
	IDS_TYPE_OVERWRITE, "Overwrite"
	IDS_TYPE_INSERT, "Insert"
	IDS_TYPE_SPECIAL, "Special"
	IDS_INSERT_STAFF, "Insert staff"
	IDS_INSERT_BAR, "Insert bar"
	IDS_INSERT_TUNING, "Insert tuning"
	IDS_CHANGES_ON_RESTART, "Changes will take effect on program restart"

	IDS_LICENCE, "This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or any later version.\r\n\r\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.\r\n\r\nYou should have received a copy of the GNU General Public License along with this program; if not, write to the \r\nFree Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA"
	IDS_WEBSITE, "http://tabber.free.fr/"
END


// system error strings ///////////////////////////////////////////////////
STRINGTABLE DISCARDABLE
BEGIN
	IDERR_SAVE_CHORDS, "Could not save chords into file"
	IDERR_OPEN_CHORDS_FILE, "Could not open chords definitions file"
	IDERR_SAVE_TUNINGS, "Could not write tunings into file"
	IDERR_OPEN_TUNINGS_FILE, "Could not open tunings definitions file"
	IDERR_SAVE_DOCUMENT, "Could not save '%s' !\n\nMaybe file has read-only attribute set ?"
	IDERR_OPEN_DOCUMENT, "Could not open '%s' !\n\nMaybe file is used by another application ?"
	IDERR_PRINT_CANCELLED, "Printing cancelled by user"
	IDERR_PRINT_FAILED, "Printing failed"
	
	IDERR_REGISTER_WINDOW_CLASS, "Could not register class"
	IDERR_CREATE_WINDOW, "Could not create window"
	IDERR_CREATE_TABS, "Could not add a tab in tab control"
END


// keyboard shortcuts /////////////////////////////////////////////////////
IDR_ACCELERATORS ACCELERATORS DISCARDABLE
BEGIN
	"N",         ID_FILE_NEW,      VIRTKEY, CONTROL
	"O",         ID_FILE_OPEN,     VIRTKEY, CONTROL
	"S",         ID_FILE_SAVE,     VIRTKEY, CONTROL
	"S",         ID_FILE_SAVEAS,   VIRTKEY, CONTROL, ALT
	"P",         ID_FILE_PRINT,    VIRTKEY, CONTROL
    
	"Z",         ID_EDIT_UNDO,     VIRTKEY, CONTROL
	"X",         ID_EDIT_CUT,      VIRTKEY, CONTROL
	"C",         ID_EDIT_COPY,     VIRTKEY, CONTROL
	"V",         ID_EDIT_PASTE,    VIRTKEY, CONTROL
	VK_BACK,     ID_EDIT_UNDO,     VIRTKEY, ALT
	VK_DELETE,   ID_EDIT_CUT,      VIRTKEY, SHIFT
	VK_INSERT,   ID_EDIT_COPY,     VIRTKEY, CONTROL
	VK_INSERT,   ID_EDIT_PASTE,    VIRTKEY, SHIFT
	"A",         ID_EDIT_SELECTALL, VIRTKEY, CONTROL
	"F",         ID_EDIT_FIND,     VIRTKEY, CONTROL
	"R",         ID_EDIT_REPLACE,  VIRTKEY, CONTROL
	VK_F3,       ID_EDIT_FINDNEXT, VIRTKEY

	VK_INSERT,   ID_OPTIONS_TYPING_TOGGLE, VIRTKEY
	
	"S",         ID_INSERT_STAFF,  VIRTKEY, CONTROL, SHIFT
	"B",         ID_INSERT_BAR,    VIRTKEY, CONTROL, SHIFT
	"T",         ID_INSERT_TUNING, VIRTKEY, CONTROL, SHIFT
END


